@model Protocolo.Models.Cliente

@{
    ViewBag.Title = "Excluir Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb" style="margin-left: -30px; margin-right: -30px;">
            <li>
                <a href="@Url.Action("Home", "Protocolo")">
                    <i class="fa fa-home fa-fw"></i> 
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Cliente")">
                    Clientes
                </a>
            </li>
            <li class="active">
                
            </li>
        </ol>
        <h1 class="page-header"></h1>
    </div>
</div>

<div class="row">

    <div class="card card-primary">
        <div class="card-header">
            <h4 class="page-header">@ViewBag.Title</h4>
        </div>

        <div class="row">
            @using (Html.BeginForm("Delete", "Cliente", FormMethod.Post, new { id = "motivoForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="col-lg-12">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-lg-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Id)
                                    @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                            </div>
                            <br>

                            <div class="col-lg-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RazaoSocial)
                                    @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Fantasia)
                                    @Html.EditorFor(model => model.Fantasia, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Cidade)
                                    @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Cnpj)
                                    @Html.EditorFor(model => model.Cnpj, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text-center">
                                    <input type="submit" value="Excluir" class="btn btn-outline btn-danger confirmation-action" />
                                    <input type="button" value="Cancelar" class="btn btn-outline btn-primary" onclick="location.href='@Url.Action("Index", "Cliente")'" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @{ Html.RenderPartial("_Alerts"); }

    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
