@model List<Protocolo.Models.ReceivingProtocoloModel>

@{
    ViewBag.Title = "A Receber";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <ol class="breadcrumb" style="margin-left: -30px; margin-right: -15px;">
        <li>
            <a href="@Url.Action("Home", "Protocolo")">
                <i class="fa fa-home fa-fw"></i> Home
            </a>
        </li>
        <li class="active">
            @ViewBag.Title
        </li>
    </ol>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-folder-o fa-5x"></i>
                </div>
                <div class="col-xs-9 text-left">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    @if (Model.Any())
    {
        using (Html.BeginForm(null, null, FormMethod.Post, new { id = "receivingForm" }))
        {
            <div class="panel panel-default">
                @if (User.IsInRole("Administrador") || User.IsInRole("Gestor") || User.IsInRole("Comum"))
                {
                    <div class="panel-heading text-right">
                        <button id="receber" type="button" class="btn btn-outline btn-primary toggle-enable">
                            <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Receber
                        </button>
                        <button id="devolver" type="button" class="btn btn-outline btn-danger toggle-enable">
                            <span class="glyphicon glyphicon-floppy-remove" aria-hidden="true"></span> Devolver
                        </button>
                    </div>
                }

                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-receiving">
                        <thead>
                            <tr>
                                @if (User.IsInRole("Administrador") || User.IsInRole("Gestor") || User.IsInRole("Comum"))
                                {
                                    <th class="text-center">
                                        @Html.CheckBox("SelectAll", new { @class = "selectAll" })
                                    </th>
                                }
                                <th class="text-center">
                                    @Html.DisplayName("Número do Lote")
                                </th>
                                <th class="text-center">
                                    @Html.DisplayName("Número do Protocolo")
                                </th>
                                <th>
                                    @Html.DisplayName("Secretaria/Setor de Origem")
                                </th>
                                <th>
                                    @Html.DisplayName("Data de Envio")
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    @if (User.IsInRole("Administrador") || User.IsInRole("Gestor") || User.IsInRole("Comum"))
                                    {
                                        <td class="text-center">
                                            @Html.CheckBox("receivingList[" + @i + "].Selecionado", Model[i].Selecionado, new { @class = "checkbox_class" })
                                        </td>
                                    }
                                    <td class="text-center">
                                        @Html.Hidden("receivingList[" + @i + "].NumeroLote", Model[i].NumeroLote)
                                        @Html.DisplayFor(modelItem => Model[i].NumeroLote)
                                    </td>
                                    <td class="text-center">
                                        @Html.Hidden("receivingList[" + @i + "].NumeroProtocolo", Model[i].NumeroProtocolo)
                                        @Html.DisplayFor(modelItem => Model[i].NumeroProtocolo)
                                    </td>
                                    <td>
                                        @Html.Hidden("receivingList[" + @i + "].SecretariaSetorOrigem", Model[i].SecretariaSetorOrigem)
                                        @ProtocoloHelper.Truncate(Model[i].SecretariaSetorOrigem, 35)
                                    </td>
                                    <td>
                                        @Html.Hidden("receivingList[" + @i + "].DataEnvio", Model[i].DataEnvio)
                                        @Html.DisplayFor(modelItem => Model[i].DataEnvio)
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary btn-circle" title="Visualizar" aria-label="Visualizar" onclick="location.href = '@Url.Action("Visualizar", "Protocolo", new { id = Model[i].ProtocoloId })'">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        @section scripts {
            @Scripts.Render("~/bundles/jqueryval")

            <script type="text/javascript">
                $(document).ready(function () {
                    $('#dataTables-receiving').dataTable({
                        'language': {
                            'url': '@Url.Content("~/Content/JSON/datatables-portugues.json")'
                        },
                        'sort': false,
                        'paginate': false,
                        'info': false
                    });

                    $('#receber').on('click', function (e) {
                        e.preventDefault();

                        $('#receivingForm').attr('action', '@Url.Action("Receber", "Protocolo")');

                        confirmAction($(this));
                    });

                    $('#devolver').on('click', function (e) {
                        e.preventDefault();

                        $.ajax({
                            url: '@Url.Action("OpenDeclineView", "Protocolo")',
                            data: $(this).closest('form').serializeArray(),
                            type: 'POST',
                            success: function (data) {
                                $("#modal-content").html(data);
                                $("#modal-container").modal("show");
                            }
                        });
                    });
                });
            </script>
        }
    }
    else
    {
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
            Sua caixa de protocolos A Receber está vazia.
        </div>
    }
</div>