@model Protocolo.Models.Pessoa

<div class="col-lg-3 pessoa-fisica">
    <div class="form-group required">
        @Html.LabelFor(model => model.CPF, new { @class = "control-label" })
        @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control", @tabindex = 3, @mask = "999.999.999-99" } })
        @Html.ValidationMessageFor(model => model.CPF, string.Empty, new { @class = "text-danger" })
    </div>
</div>

<div class="col-lg-3 pessoa-fisica">
    <div class="form-group">
        @Html.LabelFor(model => model.PessoaFisica.RG)
        @Html.EditorFor(model => model.PessoaFisica.RG, new { htmlAttributes = new { @class = "form-control", @tabindex = 4 } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.RG, string.Empty, new { @class = "text-danger" })
    </div>
</div>

<div class="col-lg-3 pessoa-fisica">
    <div class="form-group">
        @Html.LabelFor(model => model.PessoaFisica.OrgaoExpedicaoRG)
        @Html.EditorFor(model => model.PessoaFisica.OrgaoExpedicaoRG, new { htmlAttributes = new { @class = "form-control", @tabindex = 5 } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.OrgaoExpedicaoRG, string.Empty, new { @class = "text-danger" })
    </div>
</div>

<div class="col-lg-3 pessoa-fisica">
    <div class="form-group">
        @Html.LabelFor(model => model.PessoaFisica.DataExpedicaoRG)
        <div class="input-group date">
            @Html.EditorFor(model => model.PessoaFisica.DataExpedicaoRG, new { htmlAttributes = new { @class = "form-control", @tabindex = 6 } })
            @ProtocoloHelper.CalendarIcon()
        </div>
        @Html.ValidationMessageFor(model => model.PessoaFisica.DataExpedicaoRG, string.Empty, new { @class = "text-danger" })
    </div>
</div>

<div class="col-lg-6 pessoa-fisica">
    <div class="form-group">
        @Html.LabelFor(model => model.PessoaFisica.RegistroMedico)
        @Html.EditorFor(model => model.PessoaFisica.RegistroMedico, new { htmlAttributes = new { @class = "form-control", @tabindex = 7 } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.RegistroMedico, string.Empty, new { @class = "text-danger" })
    </div>
</div>

<div class="col-lg-6 pessoa-fisica">
    <div class="form-group">
        @Html.LabelFor(model => model.PessoaFisica.PisPasep)
        @Html.EditorFor(model => model.PessoaFisica.PisPasep, new { htmlAttributes = new { @class = "form-control", @tabindex = 8 } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.PisPasep, string.Empty, new { @class = "text-danger" })
    </div>
</div>

<div class="col-lg-6 pessoa-fisica">
    <div class="form-group">
        @Html.LabelFor(model => model.PessoaFisica.CNH)
        @Html.EditorFor(model => model.PessoaFisica.CNH, new { htmlAttributes = new { @class = "form-control", @tabindex = 9, @mask = "9?9999999999999999999" } })
        @Html.ValidationMessageFor(model => model.PessoaFisica.CNH, string.Empty, new { @class = "text-danger" })
    </div>
</div>

<div class="col-lg-6 pessoa-fisica">
    <div class="form-group">
        @Html.LabelFor(model => model.PessoaFisica.CategoriaCNH)
        @Html.DropDownListFor(model => model.PessoaFisica.CategoriaCNH,
            new List<SelectListItem>()
            {
                new SelectListItem
                {
                    Text = "A",
                    Value = "A"
                },
                new SelectListItem
                {
                    Text = "B",
                    Value = "B"
                },
                new SelectListItem
                {
                    Text = "AB",
                    Value = "AB"
                },
                new SelectListItem
                {
                    Text = "C",
                    Value = "C"
                },
                new SelectListItem
                {
                    Text = "D",
                    Value = "D"
                },
                new SelectListItem
                {
                    Text = "E",
                    Value = "E"
                },
            },
            "--Selecione--",
            htmlAttributes: new { @class = "form-control", @tabindex = 10 }
        )
        @Html.ValidationMessageFor(model => model.PessoaFisica.CategoriaCNH, string.Empty, new { @class = "text-danger" })
    </div>
</div>

<div class="col-lg-6 pessoa-fisica">
    <div class="form-group">
        <div>
            @Html.LabelFor(model => model.PessoaFisica.Sexo)
        </div>
        <div class="radio-inline">
            <label style="font-weight: normal;">
                @Html.RadioButtonFor(model => model.PessoaFisica.Sexo, "M", new { @tabindex = 11 }) Masculino
            </label>
        </div>
        <div class="radio-inline">
            <label style="font-weight: normal;">
                @Html.RadioButtonFor(model => model.PessoaFisica.Sexo, "F", new { @tabindex = 11 }) Feminino
            </label>
        </div>
        @Html.ValidationMessageFor(model => model.PessoaFisica.Sexo, string.Empty, new { @class = "text-danger" })
    </div>
</div>

<div class="col-lg-6 pessoa-fisica">
    <div class="form-group">
        @Html.LabelFor(model => model.PessoaFisica.DataNascimento)
        <div class="input-group date">
            @Html.EditorFor(model => model.PessoaFisica.DataNascimento, new { htmlAttributes = new { @class = "form-control", @tabindex = 12 } })
            @ProtocoloHelper.CalendarIcon()
        </div>
        @Html.ValidationMessageFor(model => model.PessoaFisica.DataNascimento, string.Empty, new { @class = "text-danger" })
    </div>
</div>