@model Protocolo.Models.Tarefa

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tarefa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuncionarioCliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FuncionarioCliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tela.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tela.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Logon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Logon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_abertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_abertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtendimentoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtendimentoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioridade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioridade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrição)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrição)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_prevista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_prevista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_conclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_conclusao)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
    @{ Html.RenderPartial("_Alerts"); }

</div>
