@model Protocolo.Models.SearchGeneralTarefa

@{
    ViewBag.Title = "Relatório de Requisição";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb" style="margin-left: -30px; margin-right: -30px;">
            <li>
                <a href="@Url.Action("Home", "Protocolo")">
                    <i class="fa fa-home fa-fw"></i> Home
                </a>
            </li>
            <li class="active">
                @ViewBag.Title
            </li>
        </ol>
        <h1 class="page-header">@ViewBag.Title</h1>
        @{ Html.RenderPartial("_Alerts"); }
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("TarefasGeral", null, FormMethod.Post, new { @class = "form-horizontal", @target = "_blank" }))
                {
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ClienteId, new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.ClienteId, null, "Todos", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SistemaId, new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.SistemaId, null, "Todos", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SituacaoId, new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.SituacaoId, null, "Todos", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SolicitanteId, new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.SolicitanteId, null, "Todos", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row">




                            <!--  <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UsuarioId, new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.UsuarioId, null, "Todos", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                              -->

                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PessoaId, new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.PessoaId, null, "Todos", htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DataInicio, new { @class = "control-label" })
                                    <div class="input-group date">
                                        @Html.EditorFor(model => model.DataInicio, new { htmlAttributes = new { @class = "form-control" } })
                                        @ProtocoloHelper.CalendarIcon()
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DataFim, new { @class = "control-label" })
                                    <div class="input-group date">
                                        @Html.EditorFor(model => model.DataFim, new { htmlAttributes = new { @class = "form-control" } })
                                        @ProtocoloHelper.CalendarIcon()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group text-right">
                            <button type="submit" class="btn btn-primary">
                                <span class="fa fa-print" aria-hidden="true"></span> Imprimir
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            var $processoGeral = $('#processoGeral');

            if ($processoGeral.length) {
                writeView('Relatório de Processos Geral', $processoGeral.html());
            }

            initDatepicker();
        });
    </script>
}
